---
import Layout from '../layouts/BlogPost.astro';
---

<style>
.aboutimage {
  height: 60vh;
  background-position: center;
  background-image: url("/PXL_20250525_194951996_exported_72_1748222758320.jpg");
  background-size: cover;
}
</style>

<header>
<div class="aboutimage"></div>
<h1>About Me</h1>
<p>My name is Shane Gates and I got into urban planning through an interest in public transportation.
I remember when I first started high school in Brampton, I started taking the bus for the first time.
I had a two hour transfer with my fare, so naturally my cost-conscious brain wanted to get the most out of it.
I started walking backwards along the route to achieve as great of a distance as possible, which turned into taking as many routes as possible.
My routes home would get more and more elaborate, allowing me to explore all corners of my hometown and the GTA more broadly at such a micro level that I have never before experienced.
Frequencies, reliability, accessibility, coverage, and equitable decisionmaking became top of mind.
I was also able to directly witness and empathise with the challenges and efforts of those most marginalised in relying on public transit in a city that is built to necessitate car-ownership as a prerequisite to participating in society.
This then branched out my interest in creating a more liveable city to areas like urban design, municipal governance, housing, streetscaping, and zoning.

When I moved to Toronto for university, I found out what is possible when cities are built for people, and although a lot more is to be done, I was able to relatively comfortably walk, bike, or take transit to school or to get groceries.
This however should be much easier, and cities all over the world have solved some of our biggest problems.
Each person walking, biking, or on transit is one less car on the road; facilitating this makes cities objectively better: socially, economically, environmentally, healthily, and culturally.
That is my goal.
</p>
</header>
