<script>
function redirectSpacing() {

window.location.replace("https://spacing.ca/toronto/2026/05/11/op-ed-yonge-street-deserves-pedestrianization/")

}
</script>

<body onload="redirectSpacing"></body>